body{
	border: 1px solid blue;
	font-family: arial;
	font-size: 16px;
	max-width: 1024px;
	margin: 0px auto;

}

header{
	background: #B3D8EB; 
}

header nav{
	background: #0E6CB0;
	border-radius: 5px;
	margin: 0 auto;
	width: 99%;
	margin: 2px 0px 2px 0px;
}

header nav ul li{
	color: white;
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

#logo{
	float left;
	top: 50px;
	margin: -150px 0px 0px 0px;
}